<div class="modal-header">
    <h3 class="modal-title">Create notebook</h3>
</div>
<div class="modal-body">
    <form name="createNotebookForm" id="createNotebookForm" novalidate>
        <input type="text" class="form-control" placeholder="Title of new notebook" ng-model="notebook.title" required />
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="create()" ng-disabled="createNotebookForm.$invalid || !createNotebookForm.$dirty">Create</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>