<div class="modal-header"><h3 class="modal-title">Change password for {{user.first_name}} {{user.last_name}}</h3></div>
<div class="modal-body">
   <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
    <form name="userConfigurationForm" id="userConfigurationForm" novalidate>
        <label for="password">New password:</label>
        <input type="password" class="form-control input" name="password" id="password" ng-model="user.password" /> 
        <label for="password">Confirm new password:</label>
        <input type="password" class="form-control input" name="password_confirm" id="password_confirm" ng-model="user.password_confirm" /> 
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="save()" ng-disabled="userConfigurationForm.$invalid || !userConfigurationForm.$dirty">Save</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>