html, body {
	height: 100%;
}

body {
	margin: 0;

	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
		flex-direction: column;
}


form#noteForm > input, form#noteForm > textarea {
	width: 100%;
	box-sizing: border-box;
}

div.text-angular, form#noteForm > textarea {
	-webkit-flex: 1;
	flex: 1;
}

div#app {
	/* div#app is both a flex container... */
	display: -webkit-flex;
	display: flex;
	/* ... and a flex item */
	-webkit-flex: 1;
	flex: 1;
}

div#notebooks {
	width: 200px;
}

div#notes {
	width: 250px;
}

div#note {
	/* div#note is both a flex container... */
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	/* ... and a flex item */
	-webkit-flex: 1;
	flex: 1;
}

form#noteForm, div#note, div#note .panel-body {
	/* div#noteForm is both a flex container... */
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	/* ... and a flex item */
	-webkit-flex: 1;
	flex: 1;
}

div#note .panel-heading {
	display: -webkit-flex;
	display: flex;	
}

div#note .panel-heading input {
	-webkit-flex: 1;
	flex: 1;
} 

.text-angular {
	/* div#noteForm is both a flex container... */
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	/* ... and a flex item */
	-webkit-flex: 1;
	flex: 1;
}
.ta-editor {
		-webkit-flex: 1;
	flex: 1;
	overflow: scroll;
}