.navbar {
	margin-bottom: 0;
	padding-right: 15px;
}

.navbar-brand {
  height: 50px;
  font-size: 25px;
  line-height: 16px;
  letter-spacing: -1px;
}

.navbar form {
	margin-left: 40px;
	width: 280px;
}

.navbar-brand #brain {
	font-weight: lighter;
	color:  #44bbff;
}

.navbar-brand #dump {
	font-weight: normal;
}

#loading-bar-spinner {
  top: 18px;
  left: 135px;

}

.list-group-item {
	border-left: 0;
	border-right: 0;
}

.panel {
	border-left: 0;
	border-radius: 0;
	margin-bottom: 0;
}

.panel-heading {
	border-top-left-radius: 0;
	border-top-right-radius: 0;	
	height: 38px;
	overflow: visible;
}

.panel-heading button, .panel-heading select {
	margin-top: -7px;
}

.dropdown-menu>li>a.selected {
	font-weight: bolder;
}

.panel-heading input {
	font-weight: 500;
	border: none;
	background: none;
	margin: -2px 0;
	padding: 0;
}

#notebooks .panel-body, #notes .panel-body {
	padding: 0;
}

.list-group-item:first-child {
	border-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.list-group-item:last-child {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.input-group-lg .form-control {
	font-weight: bold;
}

/* Animations */
/* TODO:
	- bounceIn effect does not work, fadeIs shown instead
	- only works correctly with ng-if / .ng-enter / .ng-leave,
	  not with ng-show / .ng-show / .ng-hide

*/
#saved.ng-enter {
    -webkit-animation: bounceIn 0.5s;
    -moz-animation: bounceIn 0.5s;
    -ms-animation: bounceIn 0.5;
    animation: bounceIn 0.5;
}

#saved.ng-leave {
    animation: fadeOut 1s;
    -webkit-animation: fadeOut 1s;
    -moz-animation: fadeOut 1s;
    -ms-animation: fadeOut 1s;
    animation: fadeOut 1s;
}