.navbar {
	margin-bottom: 0;
	padding-right: 15px;
}

.navbar-brand {
  height: 50px;
  font-size: 25px;
  line-height: 14px;
  letter-spacing: -1px;
}

.navbar-brand #brain {
	font-weight: lighter;
	color:  #44bbff;
}

.navbar-brand #dump {
	font-weight: normal;
}

.list-group-item {
	border-left: 0;
	border-right: 0;
}

.panel {
	border-left: 0;
	border-radius: 0;
	margin-bottom: 0;
}

.panel-heading {
	border-top-left-radius: 0;
	border-top-right-radius: 0;	
	height: 38px;
	overflow: visible;
}

.panel-heading .btn {
	margin-top: -8px;
}

.panel-heading .pull-right .btn {
	margin-top: -6px;
}

.panel-heading input {
	font-weight: 500;
	border: none;
	background: none;
	margin: -2px 0;
	padding: 0;
}

#notebooks .panel-body, #notes .panel-body {
	padding: 0;
}

.list-group-item:first-child {
	border-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.list-group-item:last-child {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.input-group-lg .form-control {
	font-weight: bold;
}