html, body {
	height: 100%;
	margin: 0;
}

div#app {
	position: absolute;
	top: 51px;
	bottom: 0;
	width: 100%;
}

div#notebooks {
	top: 0;
	
	width: 200px;
	height: 100%;
	
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

div#notes {
	position: absolute;
	
	top: 0;
	left: 200px;

	width: 250px;
	height: 100%;

	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

div#notebooks .panel-body, div#notes .panel-body {
	-webkit-flex: 1;
	flex: 1;
	overflow-y: scroll;	
}

div#note {
	position: absolute;

	top: 0;
	left: 450px;
	right: 0;

	height: 100%;
	
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

div#note .panel-body {
	-webkit-flex: 1;
	flex: 1;

	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;

}

div#note .panel-heading {
	display: -webkit-flex;
	display: flex;	
}

div#note .panel-heading input {
	-webkit-flex: 1;
	flex: 1;
} 

trix-editor {
	-webkit-flex: 1;
	flex: 1;
	overflow: scroll;
}