<div class="modal-header"><h3 class="modal-title">User settings</h3></div>
<div class="modal-body">
    <form name="userConfigurationForm" id="userConfigurationForm" novalidate>
        <label for="email_to_notebook">Save emails from me to the following notebook:</label>
        <select class="form-control input-sm" name="email_to_notebook" id="email_to_notebook" ng-model="configuration.email_to_notebook" ng-options="book.id as book.title for book in notebooks"></select> 
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="save()" ng-disabled="userConfigurationForm.$invalid || !userConfigurationForm.$dirty">Save</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>